body, html{
  background-color: #2c3e50;
}

h1{
  color: #c0392b;
}
h2{
  color: #e74c3c;
}
h3{
  color: #d35400;
}
h4{
  color: #e67e22;
}


a{
  color:#bdc3c7;
}
a:hover{
  color:#8e44ad;
}


.Examples p{
  font-style: italic;
  font-size: large;
  font-weight: 100;
  color: #16a085;
}